/*global styling*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=League+Spartan:wght@400;500&family=Merriweather&family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*font-family: 'Kalnia', serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Nunito Sans', sans-serif;*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: navy;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}


body{
    width: 100vw;
}

.section-p1 {
    padding: 40px 80px;
}
/*---------------navbar start------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black ;/*#e0f7fa */
    height: fit-content;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    width: 100vw;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

.logo img{
    height: 80px;
    width: auto;
    color: white;
}

.nav-links {
    list-style: none;
    padding-right: 40px;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s ease;
    font-family: "nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-links li a:hover, .nav-links li a.active { /*to make the words active when being used*/
    color: aqua;
}

.nav-links li a.active::after,
.nav-links li a:hover::after{/*to make the words active and underline it when being used*/
    content: "";
    width: 30%;
    height: 2px;
    background: navy;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.hamburger {
    display: none; /* Hidden by default */
    font-size: 5vh;
    cursor: pointer;
    color: white;
    padding-right: 15px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 15px 16px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    font-family: "nunito", sans-serif;
  }
  
  .dropdown-content a:hover {color: aqua}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.2);
  }
/*---------------navbar end------------------*/
/*---------------homepage start------------------*/
#hero {
    background-image: url("images/techimg5.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
}

.contain1{
    height: 305px;
    width: 60%;

}

#hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
    color: aqua;
    font-family: "Montserrat", sans-serif;
}
#hero h2 {
    font-size: 46px;
    line-height: 54px;
    text-align: left;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}

#hero h1 {
    color: #e0f7fa;
    font-size: 50px;
    line-height: 64px;
    font-family: "Montserrat", sans-serif;
}
#hero p{
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
    hero{
    padding : 20px;
    }
    contain1{
        height: 545px;
        width: 60%;
    }
}

.navbarmain{
    background-image: url("images/techimg5.png");
   
    background-size: cover;
    width: 100vw;
    
}
/*---------------homepage end------------------*/
/*-----------------about starts------------------*/
#product1{
    text-align: center;
    color: black;
}

/*-----------------about ends-------------------*/
/* Mobile view */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links initially */
        flex-direction: column;
        position: absolute;
        top: 112px;
        left: 0;
        background-color: rgb(0, 0, 0, 0.9);
        width: 100%;
        padding: 1rem 0;
        padding-left: 1rem;
    }
    
    .nav-links li a:hover, .nav-links li a.active { /*to make the words active when being used*/
        color: aqua;
    }
    .nav-links.active {
        display: flex; /* Show nav links when active */
    }

    .hamburger {
        display: block; 
        overflow: hidden;
        transition: 0.5s;/* Show hamburger icon */
    }
}



/* About Us Section */
.about-us {
    width: 100%;
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.text,
.more-info {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.text h3, .more-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.text p, .more-info p {
    font-family: "Open sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        padding: 15px 10px;
        padding-top: 30px;
    }

    .content {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text, .more-info {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 2rem;
    }

    .text h3, .more-info h3 {
        font-size: 1.25rem;
    }

    .text p, .more-info p {
        font-size: 0.95rem;
    }
}

.benefits-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 40px;
    background-color: #f9f9f9;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Max width for larger screens */
}

.image-container {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.benefits-list {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.benefits-list h2 {
    color: #7a3e99;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.benefits-list ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.benefits-list ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.benefits-list ul li::before {
    content: '•';
    color: #7a3e99;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .benefits-list {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .benefits-container {
        flex-direction: column;
    }

    .image-container, .benefits-list {
        flex: 1 1 100%;
        padding: 0;
        text-align: center;
    }

    .benefits-list ul {
        padding-left: 0;
    }

    .benefits-list ul li {
        padding-left: 0;
    }

    .benefits-list h2 {
        margin-top: 20px;
    }

    .image-container {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .benefits-list h2 {
        font-size: 24px;
    }

    .benefits-list ul {
        font-size: 14px;
    }
}

.directors-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    min-height: 100vh; /* Make sure the section covers the full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.directors-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.directors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    flex-grow: 1; /* Allow the container to grow and fill the available space */
}

.director-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.director-card:hover {
    transform: translateY(-5px);
}

.director-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #007bff;
}

.director-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.director-card p {
    font-size: 17px;
    color: #666;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
}

/* Responsive Design */
@media (max-width: 768px) {
    .directors-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .directors-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.services-section {
    padding: 25px 20px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .section-header {
    margin-bottom: 25px;
  }
  
  .section-header h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .section-header p {
    font-size: 1.2em;
    color: #666;
    font-family: "Open sans", sans-serif;
    
  }
  
  /* Services Wrapper */
  .services-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
  }
  
  /* Image Container with Fixed Size */
  .service-image {
    width: 250px; /* Set the fixed width */
    height: 150px; /* Set the fixed height */
    margin-bottom: 20px;
  }
  
  .service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px; /* Makes the image corners rounded */
  }
  
  .service-content h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .service-content p {
    font-size: 13px;
    color: #777;
    font-family: "Open sans", sans-serif;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .services-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card {
      width: 90%;
    }
  
    .service-image {
      width: 100%; /* Adjust the width for mobile screens */
      height: auto; /* Let the height adjust proportionally */
    }
  }

  .container12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.company-info, .useful-links, .quick-contact {
    flex: 1 1 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.company-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.company-info p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    font-family: "Open sans", sans-serif;
}

.useful-links h3, .quick-contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.useful-links ul {
    list-style-type: none;
}

.useful-links ul li {
    margin-bottom: 8px;
}

.useful-links ul li a {
    color: #7a3e99;
    text-decoration: none;
    font-family: "Open sans", sans-serif;
}

.useful-links ul li a:hover {
    text-decoration: underline;
}

.quick-contact {
    padding: 20px;
    margin-bottom: 20px; /* Ensures space between the form and the footer */
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.quick-contact h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.quick-contact form {
    display: flex;
    flex-direction: column;
}

.quick-contact form input,
.quick-contact form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Open sans", sans-serif
}

.quick-contact form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif
}

.quick-contact form button:hover {
    background-color: #0056b3;
}

#successMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    display: none;
    font-family: "Montserrat", sans-serif
}

/* Ensure footer has enough margin */
footer {
    margin-top: 40px;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .quick-contact {
        margin-bottom: 30px; /* Extra margin on small screens */
    }
}


.section-title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #7a3e99;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .company-info, .useful-links, .quick-contact {
        flex: 1 1 100%;
    }
}




/* Ensure body and html have no default margins */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
    position: relative;
    left: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-column {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f7c942;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.footer-column p {
    font-size: 14px;
    color: #bbb;
    font-family: "Open sans", sans-serif;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-family: "Open sans", sans-serif;
}

.footer-column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: "Open sans", sans-serif;
}

.footer-column ul li a:hover {
    color: #f7c942;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        flex: 1 1 100%;
        margin: 20px 0;
    }
}
