/*global styling*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=League+Spartan:wght@400;500&family=Merriweather&family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: navy;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}


body{
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;
}
/*---------------navbar start------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black ;/*#e0f7fa */
    height: fit-content;
    background: black;
    box-sizing: border-box;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

.logo img{
    height: 80px;
    width: auto;
    color: white;
}

.nav-links {
    list-style: none;
    padding-right: 40px;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    font-family: "nunito", sans-serif;
    font-style: normal;
}
.nav-links li a:hover, .nav-links li a.active { /*to make the words active when being used*/
    color: aqua;
}

.nav-links li a.active::after,
.nav-links li a:hover::after{/*to make the words active and underline it when being used*/
    content: "";
    width: 30%;
    height: 2px;
    background: navy;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.hamburger {
    display: none; /* Hidden by default */
    font-size: 5vh;
    cursor: pointer;
    color: white;
    padding-right: 15px;
}


/*---------------navbar end------------------*/
/*---------------homepage start------------------*/
.benefits-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 40px;
    background-color: white;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Max width for larger screens */
}

.image-container {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-right: 40px;
    object-fit: cover;
}

.benefits-list {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.benefits-list h2 {
    color: #7a3e99;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "nunito", sans-serif;
    font-weight: 500;
}

.benefits-list ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.benefits-list ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
}

.benefits-list ul li::before {
    content: '•';
    color: #7a3e99;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .benefits-list {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .benefits-container {
        flex-direction: column;
    }

    .image-container, .benefits-list {
        flex: 1 1 100%;
        padding: 0;
        text-align: center;
    }

    .benefits-list ul {
        padding-left: 0;
    }

    .benefits-list ul li {
        padding-left: 0;
    }

    .benefits-list h2 {
        margin-top: 20px;
    }

    .image-container {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .benefits-list h2 {
        font-size: 24px;
    }

    .benefits-list ul {
        font-size: 14px;
    }
}


/*---------------homepage end------------------*/
/*-----------------about starts------------------*/
#product1{
    text-align: center;
    color: black;
}

/*-----------------about ends-------------------*/
/* Mobile view */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links initially */
        flex-direction: column;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: rgb(0, 0, 0, 0.9);
        width: 100%;
        padding: 1rem 0;
        padding-left: 1rem;
    }
    
    .nav-links li a:hover, .nav-links li a.active { /*to make the words active when being used*/
        color: aqua;
    }
    .nav-links.active {
        display: flex; /* Show nav links when active */
        background-color: black;
    }

    .hamburger {
        display: block; 
        overflow: hidden;
        transition: 0.5s;/* Show hamburger icon */
    }
}

.main-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.header-title {
    font-size: 2em;
    color: #6D2077;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.header-subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
.accordion-button {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.accordion-button:before {
    content: '\25bc'; /* Down arrow */
    color: #777;
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.4s;
}
.accordion-button.active:before {
    transform: rotate(-180deg); /* Up arrow */
}
.accordion-button.active, .accordion-button:hover {
    background-color: #ccc;
}
.accordion-panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.accordion-panel ul {
    list-style-type: disc;
    padding-left: 20px;
}
.accordion-panel ul li {
    margin-bottom: 10px;
    font-family: "Open sans", sans-serif;
}
.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .content-area {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .intelligence-details {
        order: 1;
    }
    .intelligence-visual {
        order: 2;
    }
}
.intelligence-details {
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.intelligence-visual {
    flex: 1;
    width: 100%;
    max-width: 600px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
    align-self: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.intelligence-visual img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.accordition-panel li{
    font-family: 'Nunito Sans', sans-serif;
    list-style-type: circle;
}

.full-width-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.main-header {
    font-size: 2em;
    color: #6D2077;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.intro-text {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
.flexible-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
@media (min-width: 768px) {
    .flexible-layout {
        flex-direction: row;
        justify-content: space-between;
    }
    .content-block {
        flex: 1;
        margin: 0 10px;
    }
}
.content-block {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
}
.toggle-button {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.toggle-button:before {
    content: '\25bc'; /* Down arrow */
    color: #777;
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.4s;
}
.active-toggle:before {
    transform: rotate(-180deg); /* Up arrow */
}
.active-toggle, .toggle-button:hover {
    background-color: #ccc;
}
.hidden-content {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.hidden-content ul {
    list-style-type: disc;
    padding-left: 20px;
}
.hidden-content ul li {
    margin-bottom: 10px;
}

.container12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.company-info, .useful-links, .quick-contact {
    flex: 1 1 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.company-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.company-info p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    font-family: "Open sans", sans-serif;
}

.useful-links h3, .quick-contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.useful-links ul {
    list-style-type: none;
}

.useful-links ul li {
    margin-bottom: 8px;
}

.useful-links ul li a {
    color: #7a3e99;
    text-decoration: none;
    font-family: "Open sans", sans-serif;
}

.useful-links ul li a:hover {
    text-decoration: underline;
}

.quick-contact {
    padding: 20px;
    margin-bottom: 20px; /* Ensures space between the form and the footer */
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.quick-contact h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.quick-contact form {
    display: flex;
    flex-direction: column;
}

.quick-contact form input,
.quick-contact form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Open sans", sans-serif;
            font-weight: 500;
}

.quick-contact form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open sans", sans-serif;
            font-weight: 500;
}

.quick-contact form button:hover {
    background-color: #0056b3;
}

#successMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    display: none;
}

/* Ensure footer has enough margin */
footer {
    margin-top: 40px;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .quick-contact {
        margin-bottom: 30px; /* Extra margin on small screens */
    }
}


.section-title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #7a3e99;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .company-info, .useful-links, .quick-contact {
        flex: 1 1 100%;
    }
}




/* Ensure body and html have no default margins */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
    position: relative;
    left: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-column {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f7c942;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.footer-column p {
    font-size: 14px;
    color: #bbb;
    font-family: "Open sans", sans-serif;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-family: "Open sans", sans-serif;
}

.footer-column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: "Open sans", sans-serif;
}

.footer-column ul li a:hover {
    color: #f7c942;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        flex: 1 1 100%;
        margin: 20px 0;
    }
}
